# Set default behavior to automatically normalize line endings.
# NO We don't want this!! LEAVE line endings alone
# * text=auto
# Bash shell scripts make sure to keep unix line endings
* text eol=lf

# Arquivos binários devem ser tratados como binários
*.png binary
*.jpg binary
*.epgz -text
*.pdf -text


*.ps1 text eol=crlf
*.bat text eol=crlf
